/*Paramètres*/

* {
    -webkit-font-smoothing: antialiased;
}

//import du reset
@import "libs/reset.scss";
// La charte de couleurs
$Primaire: #9356DC;
$Secondaire :#FF79DA;
$Tertiaire: #99E2D0;
// imports
@import "spinner.scss";
@import "header.scss";
a {
    text-decoration: none;
    color: black;
}

h1 {
    font-family: 'Shrikhand', cursive;
}

h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Roboto', sans-serif;
}

html,
html body,
body .container,
body .container-all {
    width: 100% !important;
    min-width: 0 !important;
    max-width: none !important;
    overflow-x: hidden;
}


/*Footer*/

footer {
    background-color: #353535;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 0px;
    max-width: 100%;
    min-width: 320px;
    h3 {
        margin: 0 0 10px 20px;
        color: #e6e6e6;
        font-weight: normal;
    }
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
        color: #FFF;
    }
    .footer__logo {
        font-family: 'Shrikhand', cursive;
        font-weight: normal;
        font-size: 20px;
        margin-bottom: 15px;
    }
}

.container {
    max-width: 2560px;
    @media screen and (min-width: 1800px) {
        max-width: 1800px;
        margin: auto;
    }
}

.fas {
    margin-right: 22px;
}

h1 {
    color: $Primaire;
}


/*Localisation*/

.Localisation {
    display: flex;
    justify-content: center;
    background-color: #eaeaea;
    padding: 20px 0;
    font-weight: bolder;
    width: 100%;
}

.presentation {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f6f6f6;
    padding: 40px 40px;
    margin-bottom: 50px;
    &__book {
        font-weight: bold;
        font-size: 25px;
    }
    &__explore {
        padding: .75rem 1.5rem;
        border-radius: 30px;
        text-align: center;
        color: #FFF;
        font-weight: normal;
        font-size: 15px;
        font-family: "Roboto", sans-serif;
        margin: 0 auto;
        background-image: linear-gradient($Secondaire, $Primaire);
        transition: background-color 250ms;
        box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
        &:hover {
            opacity: 0.8;
            box-shadow: 1rem 1rem 20px rgb(0 0 0 / 25%);
        }
    }
}


/*Fonctionnement*/

.fonctionnement__title {
    margin: 0 0 20px 22px;
}

.fonctionnement {
    font-weight: bold;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15px;
    h2 {
        margin: 0 0 30px 0;
    }
    &__step {
        margin: 0 20px 20px 40px;
        font-weight: bold;
        background-color: #F6F6F6;
        padding: 30px 50px 30px 18px;
        // margin-left: 20px;
        text-align: center;
        border-radius: 20px;
        position: relative;
        font-family: 'Roboto', sans-serif;
        width: 100%;
        max-height: 78px;
        &:hover {
            background-color: #f5edff;
            .fas {
                color: $Primaire;
            }
        }
        &__no {
            width: 18px;
            height: 18px;
            padding: 2ù;
            border-radius: 50%;
            background-color: $Primaire;
            color: #FFF;
            position: absolute;
            top: 30%;
            left: -3%;
        }
    }
}

h2 {
    font-size: 24px;
    font-weight: bold;
}


/*Restaurants*/

.restaurants {
    background-color: #f6f6f6;
    &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__title {
        padding: 50px 0 20px 22px;
        // 
    }
    &__card {
        border-radius: 20px;
        background-color: white;
        margin-bottom: 18px;
        position: relative;
        @media screen and (min-width: 375px) {
            min-width: 360px;
        }
        @media screen and (min-width: 650px) {
            margin-right: 25px;
        }
        img {
            width: 100%;
            max-height: 175px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            object-fit: cover;
        }
        .carte {
            padding: 19px 11px;
            position: relative;
            display: flex;
            h3 {
                margin-bottom: 6px;
                font-weight: bold;
            }
            .contenu {
                position: relative;
            }
            @keyframes heart_full {
                0% {
                    opacity: 0;
                }
                50% {
                    opacity: 0.5;
                    background-image: linear-gradient(100deg, $Primaire, $Secondaire);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                100% {
                    opacity: 1;
                    background-image: linear-gradient(100deg, $Primaire, $Secondaire);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            @keyframes heart_empty {
                0% {
                    opacity: 1;
                }
                50% {
                    opacity: 0;
                }
                100% {
                    opacity: 0;
                }
            }
            .heart {
                position: absolute;
                right: 20px;
                top: 1;
                &__1 {
                    position: relative;
                    &:hover {
                        animation: heart_empty 1s;
                    }
                }
                &__2 {
                    position: absolute;
                    top: 0px;
                    opacity: 0;
                    color: #FFF;
                    &:hover {
                        animation: heart_full 1s forwards;
                    }
                }
            }
        }
    }
    .btn-new {
        background-color: $Tertiaire;
        color: #1b6150;
        padding: .5rem;
        border-radius: .125rem;
        position: absolute;
        top: 1rem;
        right: .75rem;
    }
}


/*Bannière*/

.photo__restaurant {
    img {
        width: 100%;
        max-height: 250px;
        object-fit: cover;
    }
}


/*Carte restaurant*/

.card__title {
    font-family: 'Shrikhand', cursive;
    max-width: 322px;
}

.fa-heart:before {
    margin-left: 20px;
}

.card__global {
    @media screen and (min-width: 1024px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.card {
    background-color: #F6F6F6;
    padding: 36px 21px;
    margin-top: -27px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
    z-index: 1;
    .far {
        align-self: flex-end;
    }
    h2 {
        margin-bottom: 35px;
    }
}

.entrees {
    margin-top: 3.5em;
    h2::after {
        content: '';
        display: block;
        width: 43px;
        height: 3px;
        background: $Tertiaire;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.card__global__entrees {
    animation: fadein 2s;
    @media screen and (min-width: 1140px) {
        margin-right: 10px;
    }
}

.card__global__plats {
    animation: fadein 4s;
    @media screen and (min-width: 1142px) {
        margin-right: 10px;
    }
}

.card__global__desserts {
    animation: fadein 6s;
}

.card__global__entrees,
.card__global__plats,
.card__global__desserts {
    h2 {
        font-weight: normal;
        font-size: 20px;
    }
}

.card__global__contenu {
    background-color: #FFF;
    max-width: 350px;
    height: 70px;
    box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);
    padding: 0 0 0 16px;
    border-radius: .75rem;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    // @media screen and (min-width: 375px) and (max-width: 400px) {
    //     min-width: 250px;
    //     max-width: 315px;
    // }
    @media screen and (min-width: 400px) and (max-width: 1024px) {
        max-width: none;
    }
    &__dish {
        width: 350px;
        padding: 14px 0;
        border-radius: .75rem;
        display: flex;
        justify-content: space-between;
        h3 {
            font-size: 16px;
        }
        h4 {
            font-size: 16px;
        }
        @media screen and (min-width: 320px) and (max-width: 425px) {
            h3 {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            h4 {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }
    &:hover {
        .card__global__contenu__dish__confirmation {
            margin-right: 0px;
            min-width: 4rem;
            transition: margin-right 0.5s;
        }
        .header_menu {
            white-space: nowrap;
            text-overflow: ellipsis;
            h3 {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            h4 {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            @media screen and (max-width:405px) {
                max-width: 130px;
            }
        }
        .circle {
            transform: rotate(360deg);
        }
    }
}

.card__global__contenu__dish__confirmation {
    background-color: #99E2D0;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -64px;
}

.circle {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 100px;
    background: #FFF;
    color: $Tertiaire;
    display: flex;
    align-items: center;
    align-self: center;
    align-content: center;
    transition: transform 1s;
    .fas {
        margin-left: 4px;
    }
}

.center {
    text-align: center;
}

.card__price {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-self: flex-end;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    margin-right: 20px;
    width: 25%;
}

.header_menu {
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-overflow: ellipsis;
    h3 {
        font-weight: bold;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    h4 {
        font-weight: normal;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}


/*Bouton Commander*/

.bouton__commander {
    padding: 30px 0 80px 0;
    text-align: center;
    background-color: #F6F6F6;
    &--pink {
        background-color: $Primaire;
        padding: 15px 50px;
        border-radius: 30px;
        text-align: center;
        font-family: "Roboto", sans-serif;
        color: #FFF;
        font-weight: normal;
        font-size: 18px;
        margin: 0 auto;
        background-image: linear-gradient($Secondaire, $Primaire);
        transition: background-color 250ms;
        box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
        &:hover {
            opacity: 0.8;
            box-shadow: 1rem 1rem 20px rgb(0 0 0 / 25%);
        }
    }
}

.img-OhMyFood {
    position: absolute;
    padding-bottom: 3%;
    padding-top: 1.5%;
}

.btn-return {
    padding: 10%;
    font-weight: bold;
    font-size: 20px;
}